
XCBKit\.xcodeproj/project\.xcworkspace/xcuserdata/alex\.xcuserdatad/

XCBKit\.xcodeproj/xcuserdata/alex\.xcuserdatad/xcdebugger/

XCBKit/.idea/

XCBKit/derived_src/

XCBKit/obj/

XCBKit/XCBKit.framework/

XCBKit/cmake-build-debug/CMakeFiles/clion-log.txt

XCBKit/.clang_complete

XCBKit/core

.idea/

XCBKit/CMakeLists.txt

XCBKit/cmake-build-debug/cmake_install.cmake

XCBKit/cmake-build-debug/CMakeCache.txt

XCBKit/cmake-build-debug/CMakeFiles/3.17.3/CMakeCCompiler.cmake

XCBKit/cmake-build-debug/CMakeFiles/3.17.3/CMakeCXXCompiler.cmake

XCBKit/cmake-build-debug/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_C.bin

XCBKit/cmake-build-debug/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_CXX.bin

XCBKit/cmake-build-debug/CMakeFiles/3.17.3/CMakeSystem.cmake

XCBKit/cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/a.out

XCBKit/cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/CMakeCCompilerId.c

XCBKit/cmake-build-debug/CMakeFiles/3.17.3/CompilerIdCXX/a.out

XCBKit/cmake-build-debug/CMakeFiles/3.17.3/CompilerIdCXX/CMakeCXXCompilerId.cpp

XCBKit/cmake-build-debug/CMakeFiles/clion-environment.txt

XCBKit/cmake-build-debug/CMakeFiles/cmake.check_cache

XCBKit/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake

XCBKit/cmake-build-debug/CMakeFiles/CMakeOutput.log

XCBKit/cmake-build-debug/CMakeFiles/Makefile.cmake

XCBKit/cmake-build-debug/CMakeFiles/Makefile2

XCBKit/cmake-build-debug/CMakeFiles/progress.marks

XCBKit/cmake-build-debug/CMakeFiles/Progress/1

XCBKit/cmake-build-debug/CMakeFiles/Progress/2

XCBKit/cmake-build-debug/CMakeFiles/Progress/4

XCBKit/cmake-build-debug/CMakeFiles/Progress/5

XCBKit/cmake-build-debug/CMakeFiles/Progress/6

XCBKit/cmake-build-debug/CMakeFiles/Progress/count.txt

XCBKit/cmake-build-debug/CMakeFiles/TargetDirectories.txt

XCBKit/cmake-build-debug/CMakeFiles/XCBKit.dir/build.make

XCBKit/cmake-build-debug/CMakeFiles/XCBKit.dir/C.includecache

XCBKit/cmake-build-debug/CMakeFiles/XCBKit.dir/cmake_clean.cmake

XCBKit/cmake-build-debug/CMakeFiles/XCBKit.dir/depend.internal

XCBKit/cmake-build-debug/CMakeFiles/XCBKit.dir/depend.make

XCBKit/cmake-build-debug/CMakeFiles/XCBKit.dir/DependInfo.cmake

XCBKit/cmake-build-debug/CMakeFiles/XCBKit.dir/flags.make

XCBKit/cmake-build-debug/CMakeFiles/XCBKit.dir/link.txt

XCBKit/cmake-build-debug/CMakeFiles/XCBKit.dir/progress.make

XCBKit/cmake-build-debug/Makefile

XCBKit/cmake-build-debug/XCBKit.cbp

XCBKit/cmake-build-debug/CMakeFiles/Progress/3

XCBKit/cmake-build-debug/CMakeFiles/Progress/

XCBKit/line_counter.sh

XCBKit/cmake-build-debug/CMakeFiles/3.17.5/CMakeCXXCompiler.cmake

*.cmake

*.bin

*.out

XCBKit/cmake-build-debug/CMakeFiles/3.17.5/CompilerIdC/CMakeCCompilerId.c

XCBKit/cmake-build-debug/CMakeFiles/3.17.5/CompilerIdCXX/CMakeCXXCompilerId.cpp

XCBKit/CMakeCache.txt

XCBKit/CMakeFiles/3.17.5/CompilerIdCXX/

XCBKit/CMakeFiles/

XCBKit/Makefile

XCBKit/XCBKit.cbp

XCBKit/Testing/Temporary/LastTest.log

XCBKit/cmake-build-debug/CMakeFiles/3.19.2/CompilerIdC/

XCBKit/cmake-build-debug/CMakeFiles/3.19.2/CompilerIdCXX/
